#form {
	width: 250px;
	margin: 0 auto;
	height: 50px;
	}
	
	#form p {
	text-align: center;
	}
	
	input[type="radio"] {
	display: none;
	}
	
	label {
	color: grey;
	font-size: 40px;
	}
	
	.clasificacion {
	direction: rtl;
	unicode-bidi: bidi-override;
	}
	
	label:hover,
	label:hover ~ label {
	color: orange;
	cursor: pointer;
	}
	
	input[type="radio"]:checked ~ label {
	color: orange;
	}#form {
	width: 250px;
	margin: 0 auto;
	height: 50px;
	}
	
	#form p {
	text-align: center;
	}
	
	input[type="radio"] {
	display: none;
	}
	
	label {
	color: grey;
	font-size: 40px;
	}
	
	.clasificacion {
	direction: rtl;
	unicode-bidi: bidi-override;
	}
	
	label:hover,
	label:hover ~ label {
	color: orange;
	cursor: pointer;
	}
	
	input[type="radio"]:checked ~ label {
	color: orange;
	}